#card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    width: 30%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(238, 141, 141);
}


html * {
    font-family: Brush Script MT, cursive;
    font-size: x-large;
}

body {
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafcf9;
}

button {
    border: palevioletred;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 100px;
    margin: auto;
}

button:hover {
    background-color: pink;
    cursor: pointer;
}

input {
    text-align: center;
}

#ballon{
    position: absolute;
    z-index: 10;
    left: -200px;
    bottom: 0;
}

.ballonVisible {
    transform: translate(100vw,  -110vh);
    transition: transform 8s;
    
}

#manchot, #loveYouToo, #sad{
    display: none;
}

#loveYouToo{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #fa6ab3;
}
